<!--
_____________________________________________________________
|###########################################################|
|###########################################################|
|#########################ZZZZZZZZZ#########################|
|########################/        /\########################|
|#######################/        /  \#######################|
|######################/        /    \######################|
|#####################/        /      \#####################|
|####################/        /        \####################|
|###################/        /          \###################|
|##################/        /            \##################|
|#################/        /      /\      \#################|
|################/        /      /  \      \################|
|###############/        /      /    \      \###############|
|##############/        /      /\     \      \##############|
|#############/        /      /##\     \      \#############|
|############/        /      /####\     \      \############|
|###########/        /______/ZZZZZZ\     \      \###########|
|##########/                        \     \      \##########|
|#########/                          \     \      \#########|
|########(____________________________\     \      )########|
|#########\                                  \    /#########|
|##########\                                  \  /##########|
|###########\__________________________________\/###########|
|###########################################################|
|###################+-------------------+###################|
|###################|  code written by  |###################|
|###################|  ---------------  |###################|
|###################|   Nils  Neumann   |###################|
|###################| www.der-zyklop.de |###################|
|###################+-------------------+###################|
|###########################################################|
_____________________________________________________________
-->