@import 'compass'

@import 'variables'

@import '../../../pxwrk-sass-dummy/mixins/all'

//@mixin all-html
// html
+core
//+page-width
+reset
+typography
+button
+input
+hr
+blockquote
+pre
+table
+list

//@mixin all-pxwrk-ui
// pxwrk_ui
//+nav
//+box
//+tag
//+progressbar
//+toggle-checkbox
//+slideupbox(200px)
//+range

//@mixin all-responsive
// other
+responsive(600px)
+nav_responsive(600px)

//@mixin all-twitter-bootstrap
+bootstrap-tooltip

body *
  border-color: $border-color
  border-width: 0
  border-style: $border-style
  +box-sizing(border-box)

section
  margin-bottom: 1.5em

button, .btn, input[type="button"]
  width: 100%

.page-wrap
  background: $width-wrap-background
  background: transparent
  margin-top: 55px
  margin-bottom: 30px
  padding-top: 1em
  padding-bottom: 1em
  h1, h2, h3, h4, h5, h6, 
  p
    color: $font-color-highlight
  h1, h2, h3, h4, h5, h6, 
  p,
  .btn-bottom
    margin-left: $page-wrap-padding-l-r
    margin-right: $page-wrap-padding-l-r

h5,
th
  border-width: 1px 0
  font-weight: bold
  font-size: 16px
  line-height: 2em
  padding: 0
  font-family: $font-std

.top-bar
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 3
  background: #fff
  border-bottom-width: 1px

.nav
  position: relative
  .nav-items 
    cursor: pointer
  * 
    color: #222222
  .center
    display: block
    float: left
    width: 70%
  .other 
    display: none
  .other .nav-item 
    border-top-width: 1px
    width: 100%
  .nav-item,
  .nav-item a 
    line-height: 50px
    display: block
    font-size: 20px
    text-decoration: none
    font-weight: bold
  .nav-item
    line-height: 55px
    padding: 0 6% 0 $page-wrap-padding-l-r
  #geo-reload
    background: $primary
    width: 17%
    height: 55px
    border-left-width: 1px
    a 
      display: block
      padding-top: 13px
      padding-bottom: 12px
      img 
        margin: 0 auto

#bg-overlay
  display: none
  background: #000
  opacity: 0.7
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 2

//foo
.top-bar,
.footer
  +box-shadow(0 0 20px rgba(0,0,0,0.1))

.footer
  position: fixed
  bottom: 0
  left: 0
  right: 0
  padding-left: $page-wrap-padding-l-r
  padding-right: $page-wrap-padding-l-r
  border-top-width: 1px
  background: #fff
  z-index: 1
  a 
    text-decoration: none
  img
    width: 60px

.form-elements
  border-top-width: 1px
  border-color: #000
  background-color: #f6f6f6
  //background-image: url('../img/ui/ipad-pattern.jpg')
  .form-element
    cursor: pointer
  &.elements-4
    .form-element,
    .form-element-inner
      height: 70px
      line-height: 70px
    .form-element
      .form-element-inner
        display: block
        width: 100%
        text-align: center
        +appearance(none)
        margin: 0
      width: 25%
      border-color: #000
      border-left-width: 1px
      border-bottom-width: 1px
      float: left
      text-align: center
      &.active
        .form-element-inner
          border-color: #000
          border-width: 5px
      &#color-2.active
        .form-element-inner
          border-color: #fff
      &#color-3.active
        .form-element-inner
          border-color: #fff
      &#color-7.active
        .form-element-inner
          border-color: #fff

.more-btn
  font-size: 4em
  background: $primary
  background: #000
  color: $font-color-highlight
  font-weight: bold

#color-1
  +background-image(linear-gradient(#eee, #999))
#color-2
  background: #000
#color-3
  +background-image(linear-gradient(#0099ff, #003388))
#color-4
  +background-image(linear-gradient(#fff, #e5e5e5))
  background: #fff
#color-5
  +background-image(linear-gradient(#ff0000, #cc0000))
#color-6
  +background-image(linear-gradient(#ffff00, #dddd00))
#color-7
  +background-image(linear-gradient(#dd8800, #773300))
#color-8
  +background-image(linear-gradient(#00ff00, #00cc00))
#color-9
  +background-image(linear-gradient(#ff8800, #dd5500))
#manufacturer-1
  background: #fff url('../img/manufacturer/audi.png') center center no-repeat
#manufacturer-2
  background: #fff url('../img/manufacturer/bmw.png') center center no-repeat
#manufacturer-3
  background: #fff url('../img/manufacturer/ford.png') center center no-repeat
#manufacturer-4
  background: #fff url('../img/manufacturer/mercedes.png') center center no-repeat
#manufacturer-5
  background: #fff url('../img/manufacturer/opel.png') center center no-repeat
#manufacturer-6
  background: #fff url('../img/manufacturer/vw.jpg') center center no-repeat
#manufacturer-7
  background: #fff url('../img/manufacturer/volvo.png') center center no-repeat
#manufacturer-8
  background: #fff url('../img/manufacturer/toyota.png') center center no-repeat
#manufacturer-9
  background: #fff url('../img/manufacturer/smart.png') center center no-repeat
#manufacturer-10
  background: #fff url('../img/manufacturer/porsche.png') center center no-repeat
#manufacturer-11
  background: #fff url('../img/manufacturer/john_deere.png') center center no-repeat

/* Spotsearch [BEGIN] */

.results
  background: $width-wrap-background - #111
  h1, h2, h3, h4, h5, h6
    color: $primary
  p
    color: $font-color
  .distance-bar
    font-size: 14px
    font-weight: bold
    line-height: 1.4em
    padding: 0.2em $page-wrap-padding-l-r
    color: #888
    +background-image(linear-gradient(#dfdfdf,#eee))
    text-align: center
  .essentials,
  .details,
  .distance-bar
    border-bottom-width: 1px
  .essentials
    background: $width-wrap-background
    padding: 10px 0 26px 0
    h3, * 
      color: $font-color
    .waitingtime
      line-height: 20px
      font-size: 14px
  .details
    padding: 10px 0 26px 0
    display: none
    table
      padding-left: $page-wrap-padding-l-r
      padding-right: $page-wrap-padding-l-r
      th
        color: $primary
        background: $width-wrap-background
    h5
      text-align: center
      background: $width-wrap-background

/* Spotsearch [END] */